body {
  font-family: 'Times New Roman', sans-serif;
  line-height: 1.6;
  background-color: #1b2249;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}
h1 {
  color: #ffffff;
  margin-bottom: 20px;
}
p {
  color: #999999;
  margin-bottom: 20px;
}
a {
  color: #6568ff;
}